<ion-view view-title="{{ title | translate }}">
  <ion-content class="padding">
    <form name ="complaint" class="panel panel-default">
      <div class="list">
        <div class="list list-inset">
           <div class="item item-input item-select">
              <div class="input-label"> {{'type' | translate}} </div>
              <select ng-model="content.type">
                  <option ng-selected="requests[0]" ng-repeat="request in requests | orderBy">{{request}}</option>
              </select>
          </div>
        </div>
        <div class="list list-inset">
           <div class="item item-input item-select">
              <div class="input-label"> {{'receiver' | translate }} </div>
              <select ng-model="content.recipient">
                  <option ng-selected="recipients[0]" ng-repeat="recipient in recipients | orderBy">{{recipient}}</option>
              </select>
          </div>
        </div>
      </div>
        <div class="list list-inset">
          <div class="panel-body">
            <div class="item item-input">
              <textarea ng-model="content.comment"placeholder="{{ 'comment' | translate }}" ></textarea>
            </div>
          </div>
        </div>  
      <button class="button button-block button-positive" ng-disabled="!content.comment" ng-click="send()">  {{'send' | translate}} </button>
    </form>
  </ion-content>
</ion-view>
