<ion-view view-title="{{ title | translate }}">
  <ion-content class="padding">
    <form>
      <div class="list">
        <div class="list list-inset">
           <div class="item item-input item-select">
              <div class="input-label"> {{'type' | translate}} </div>
              <select>
                  <option ng-repeat="request in requests">{{request}}</option>
              </select>
          </div>
        </div>
        <div class="list list-inset">
           <div class="item item-input item-select">
              <div class="input-label"> {{'receiver' | translate }} </div>
              <select>
                  <option ng-repeat="recipient in recipients">{{recipient}}</option>
              </select>
          </div>
        </div>
      </div>
        <div class="list list-inset">
          <label class="item item-input">
              <textarea placeholder="{{ 'comment' | translate }}"></textarea>
          </label>
        </div>
      </div>
      <button class="button button-positive" type="submit"> {{'send' | translate}} </button>
    </form>
  </ion-content>
</ion-view>
